{# templates/blackjack.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
	Black Jack
{% endblock %}

{% block content %}
	<h2>
		Game On
	</h2>

 
  <form method="post" action="{{ path('blackjack-start') }}">
        <input type="submit" name="play" class="btn play" value="Play">
        </form>
     

{% endblock %}