{# templates/game.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
	Game
{% endblock %}

{% block content %}
	<h2>
		Black Jack
	</h2>

    <a href="{{path("blackjack")}}" class="btn game-btn">Starta Spelet</a>

    <p>V채lkommen till v책rt spel, Black Jack. Lycka till och m책 b채ste man, kvinna eller bank vinna.</p>

    <h4>Spelets regler:</h4>

    {{ include('markdown_folder/rules.markdown.twig')|markdown_to_html}}
    
    <a href="{{path("doc")}}" class="btn game-btn">Documentation</a>

{% endblock %}
