{% extends 'base.html.twig' %}
{% block title %}Update One Book
{% endblock %}

{% block content %}
	<div class="book-wrapper">
		<h2>
			Update Book!
		</h2>
		<form class="create-book" method="POST">

			<input name="title" type="text" value="{{bookone.title}}">
			<input name="isbn" type="number" value="{{bookone.isbn}}">
			<input name="author" type="text" value="{{bookone.author}}">
			<input name="img" type="text" value="{{bookone.img}}">
			<input name="add" type="submit" class="btn" value="Updatera">


		</form>

	</div>
{% endblock %}
