{# templates/about.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
	About
{% endblock %}

{% block content %}

	<h2>
		About
	</h2>

	<p>Kursen MVC står för model-view-controller och i denna kurs så programmerar vi på ett objektorienterat vis och då ska vi lära oss att använda klasser och objekt i php.

	</p>
	<p>Syftet är att vi ska lära oss programmera webbapplikationer med det arkitekturella designmönstret MVC.
	</p>
	<p>
		Vi ska även lära oss ramverket symfony.</p>


	<a class="icon git" href="https://github.com/dbwebb-se/mvc" target="_blank">
		<i class="fa-brands fa-github"></i>
	</a>
{% endblock %}
