{# templates/project/about.html.twig #}

{% extends "project/basepro.html.twig" %}


{% block title %}
	About | Project
{% endblock %}

{% block content %}

	<h2>
		About
	</h2>
	<div class="about-wrapp">
		<p>Det projekt jag valt att arbeta med är casino. 
												Jag har valt att göra en min egen variant på en poker som kallas för Caribbean Stud. 
			                                    Spelet går till så att jag (spelaren) väljer min insats, 
									            sedan jag får 5 kort. Jag får sedan se ett av dealerns fem kort. 
									            Jag kan nu välja om jag vill lägga mig (förlora insatsen) eller gå med (lägga dubbelt så mycket som insatsen). Efter insatsen jämförs mina kort mot dealerns.
									            Vinner dealern förlorar jag hela min insats. Vinner jag får jag min insats gånger ett nummer. 
						                        Numret som gångas med insatsen beror på vilken typ av hand man har.
		</p>

	</div>
{% endblock %}
