{# templates/project/about.html.twig #}

{% extends "project/basepro.html.twig" %}


{% block title %}
	About | Project
{% endblock %}

{% block content %}

	<h2>
		About
	</h2>
	<div class="about-wrapp">
		<p>Det projekt jag valt att arbeta med är casino.</p>
		<a class="test" href="{{path("reset_database")}}">Reset</a>
		<a class="links" href="#">Länk till dokumentationen som är genererad via phpdoc.</a>
		<a class="links" href="#">Länk till rapporten från phpmetrics.</a>
		<a class="links" href="https://github.com/dbwebb-se/mvc">Länk till ditt GitHub repo.</a>
		<a class="links" href="#">Länk till Scrutinizer för ditt repo.</a>
	</div>
{% endblock %}
