{# templates/project/about.html.twig #}

{% extends "project/basepro.html.twig" %}


{% block title %}
	About | Project
{% endblock %}

{% block content %}

	<h2>
		About
	</h2>
	<div class="about-wrapp">
		<p>Det projekt jag valt att arbeta med är casino.</p>
	</div>
{% endblock %}
