{# templates/project/reset.html.twig #}

{% extends "project/basepro.html.twig" %}


{% block title %}
	About | Project
{% endblock %}

{% block content %}

	<h1>Database is reset</h1>
{% endblock %}
