
<div class="md-wrapper" markdown="1">
Player is User <br>
Bank is Computer<br>
<br>
Create Deck<br>
<br>
Shuffle deck<br>
<br>
Game starts<br>
<br>
Player and Bank draw 2 cards each.<br>
<br>
if (sum of player cards is equal to 21)<br>
&nbsp;&nbsp;&nbsp;&nbsp;if (sum of Bank cards is also equal to 21)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print out its a tie<br>
<br>
while (sum of player cards is less then 21)<br>
   &nbsp;&nbsp;&nbsp;&nbsp; let player choose to draw another card or stay<br>
    &nbsp;&nbsp;&nbsp;&nbsp;if (player choose stay)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jump out of while loop<br>
<br>
while (sum of Bank cards is less then 17)<br>
        draw a  new card for Bank.<br>
<br>
if (sum of player cards is bigger then 21)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Print out Bank wins<br>
else if (sum of Bank cards is bigger then 21)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;print out you wins<br>
else if (21 subtract to sum of Bank card is bigger then 21 subtract to sum of player card)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;print out bank wins<br>
else if (21 subtract to sum of Bank card is less then 21 subtract to sum of player card)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;print out you wins
</div>



